*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #4F4F4F;
}

body {
  max-width: 1100px;

}

.main {
  background-color: #EEEEEE;
  text-align: center;
  margin-top: -36px;
  padding-bottom: 50px;
}

h1 {
  font-size: 25px;
  letter-spacing: 1x;
  padding-left: 33px;
  padding-top: 8px;
  padding-bottom: 5px;
}

h3 {
  font-size: 32px;
  font-family: 'Roboto Slab', serif;
  padding: 100px 50px 60px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.answer {
  font-size: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.bottom {
  background-color: #4B484F;
  color: #98959C;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  padding: 80px 20px 20px;
}
